<div class="cursor-default ml-10 relative flex items-center px-6 py-4 bg-blue-400 dark:bg-blue-500 border border-blue-500 dark:border-blue-600 text-white rounded mb-10 flex-col md:flex-row space-y-4 md:space-y-0">
    <div class="w-5 h-5 bg-blue-400 border border-blue-500 absolute -left-10 transform -translate-x-2/4 rounded-full z-10 mt-2 md:mt-0"></div>
    <div class="w-10 h-1 bg-blue-300 absolute -left-10 z-0"></div>
    <div class="flex-auto">
        <h1 class="text-lg">{{ incident.title }}</h1>
        <h1 class="text-xl font-bold">{{ incident.message }}</h1>
        <h3>{{ incident.created | ago }}</h3>
    </div>
</div>
