{% extends 'layouts/admin.html.twig' %}

{% block page_name %}{% trans %}General Settings{% endtrans %}{% endblock %}

{% block content %}
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            {% trans %}General Settings{% endtrans %}
        </h2>
        <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <form action="{{ path('app_admin_setting_general') }}" method="post">
                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">{% trans %}Page Name{% endtrans %}</span>
                    <input name="general[page_name]" required class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" value="{{ settings.findOneBy({'name': 'general'}).value['page_name'] }}">
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                      {% trans %}Dark Mode{% endtrans %}
                    </span>
                    <select name="general[dark_mode]" class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                        <option value="0" {% if settings.findOneBy({'name': 'general'}).value['dark_mode'] == 0 %}selected{% endif %}>{% trans %}Switchable{% endtrans %}</option>
                        <option value="1" {% if settings.findOneBy({'name': 'general'}).value['dark_mode'] == 1 %}selected{% endif %}>{% trans %}Force disable{% endtrans %}</option>
                        <option value="2" {% if settings.findOneBy({'name': 'general'}).value['dark_mode'] == 2 %}selected{% endif %}>{% trans %}Force enable{% endtrans %}</option>
                    </select>
                </label>

                <div class="mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                      {% trans %}Privacy Link{% endtrans %}
                    </span>
                    <div class="mt-2">
                        <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                            <input {% if settings.findOneBy({'name': 'footer'}).value['privacy_link'] == 0 %}checked{% endif %} type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="footer[privacy_link]" value="0">
                            <span class="ml-2">{% trans %}Disabled{% endtrans %}</span>
                        </label>
                        <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                            <input {% if settings.findOneBy({'name': 'footer'}).value['privacy_link'] != 0 %}checked{% endif %} type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="footer[privacy_link]" value="">
                            <span class="ml-2">
                                <input name="footer[privacy_link]" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" value="{{ settings.findOneBy({'name': 'footer'}).value['privacy_link'] }}">
                            </span>
                        </label>
                    </div>
                </div>

                <div class="mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">
                      {% trans %}Imprint Link{% endtrans %}
                    </span>
                    <div class="mt-2">
                        <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                            <input {% if settings.findOneBy({'name': 'footer'}).value['imprint_link'] == 0 %}checked{% endif %} type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="footer[imprint_link]" value="0">
                            <span class="ml-2">{% trans %}Disabled{% endtrans %}</span>
                        </label>
                        <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                            <input {% if settings.findOneBy({'name': 'footer'}).value['imprint_link'] != 0 %}checked{% endif %} type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="footer[imprint_link]" value="">
                            <span class="ml-2">
                                <input name="footer[imprint_link]" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" value="{{ settings.findOneBy({'name': 'footer'}).value['imprint_link'] }}">
                            </span>
                        </label>
                    </div>
                </div>

                <div class="mt-4 text-sm">
                <span class="text-gray-700 dark:text-gray-400">
                  {% trans %}Dashboard Link{% endtrans %}
                </span>
                    <div class="mt-2">
                        <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                            <input {% if settings.findOneBy({'name': 'footer'}).value['dashboard_link'] == 1 %}checked{% endif %} type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="footer[dashboard_link]" value="1">
                            <span class="ml-2">{% trans %}Enabled{% endtrans %}</span>
                        </label>
                        <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                            <input {% if settings.findOneBy({'name': 'footer'}).value['dashboard_link'] != 1 %}checked{% endif %} type="radio" class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="footer[dashboard_link]" value="0">
                            <span class="ml-2">{% trans %}Disabled{% endtrans %}</span>
                        </label>
                    </div>
                </div>

                <div class="flex justify-center mt-6">
                    <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                        {% trans %}Save{% endtrans%}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
