{% extends 'base.html.twig' %}

{% block body %}
<div x-data="{'isSideMenuOpen': false, 'isProfileMenuOpen': false, 'isPagesMenuOpen': false}">
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900"
         :class="{ 'overflow-hidden': isSideMenuOpen }">
        {% include 'admin/elements/sidenav.html.twig' %}
        {% include 'admin/elements/mobile-sidenav.html.twig' %}
        <div class="flex flex-col flex-1 w-full">
            {% include 'admin/elements/header.html.twig' %}
            <main class="h-full overflow-y-auto">
                {% block content %}
                {% endblock %}
            </main>
        </div>
    </div>
</div>
{% endblock %}