{% extends 'base.html.twig' %}

{% block body %}
    <main class="min-h-screen dark:bg-gray-700">
        {% block content %}{% endblock %}
    </main>
    {% include 'elements/footer.html.twig' %}
{% endblock %}