<div class="absolute bottom-0 w-full bg-gray-100 dark:bg-gray-900 pt-2 ">
    <div class="flex pb-5 px-3 m-auto pt-5 border-t dark:border-gray-700 text-gray-800 dark:text-gray-400 text-sm flex-col
      md:flex-row max-w-6xl">
        <div class="mt-2">{% trans with {'%year%': ('now' | date('Y'))} %}&copy; Copyright %year% by{% endtrans %}<a class="hover:underline" href="https://ancozockt.de">Ancozockt Environment</a>.{% trans %}All Rights Reserved.{% endtrans %}</div>
        <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
            {% if settingsHelper.footer('dashboard_link') == 1 %}
            <a href="{{ path('app_admin_dashboard') }}" class="mx-3 hover:underline">
                {% trans %}Dashboard{% endtrans %}
            </a>
            {% endif %}
            {% if settingsHelper.footer('imprint_link') != 0 %}
            <a href="{{ settingsHelper.footer('imprint_link') }}" class="mx-3 hover:underline">
                {% trans %}Imprint{% endtrans %}
            </a>
            {% endif %}
            {% if settingsHelper.footer('privacy_link') != 0 %}
            <a href="{{ settingsHelper.footer('privacy_link') }}" class="mx-3 hover:underline">
                {% trans %}Privacy{% endtrans %}
            </a>
            {% endif %}
        </div>
    </div>
</div>