<div class="absolute bottom-0 w-full bg-gray-100 dark:bg-gray-900 pt-2 ">
    <div class="flex pb-5 px-3 m-auto pt-5 border-t dark:border-gray-700 text-gray-800 dark:text-gray-400 text-sm flex-col
      md:flex-row max-w-6xl">
        <div class="mt-2">© Copyright {{ 'now' | date('Y') }} by <a class="hover:underline" href="https://ancozockt.de">Ancozockt Environment</a>. All Rights Reserved.</div>
        <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
            <a href="{{ path('app_admin_service_index') }}" class="mx-3 hover:underline">
                Dashboard
            </a>
            <a href="https://ancozockt.info/imprint" class="mx-3 hover:underline">
                Imprint
            </a>
            <a href="https://ancozockt.info/privacy" class="mx-3 hover:underline">
                Privacy
            </a>
        </div>
    </div>
</div>