<div x-tooltip.raw="{% trans %}Major Outage{% endtrans %}" x-tooltip.on.mouseenter
     class="rounded-full w-5 h-5 border border-red-500 bg-red-400 uppercase text-center text-white font-bold shadow">
</div>