<div x-tooltip.raw="{% trans %}Major Outage{% endtrans %}" x-tooltip.on.mouseenter
     class="rounded-full w-5 h-5 bg-red-400 dark:bg-red-500 border border-red-500 dark:border-red-600 uppercase text-center text-white font-bold shadow">
</div>