<div x-tooltip.raw="{% trans %}Operational{% endtrans %}" x-tooltip.on.mouseenter
     class="rounded-full w-5 h-5 bg-green-400 dark:bg-green-500 border border-green-500 dark:border-green-600 uppercase text-center text-white font-bold shadow">
</div>