<div x-data="{ tooltip_{{ id }}: false }"
     x-on:mouseover="tooltip_{{ id }} = true"
     x-on:mouseleave="tooltip_{{ id }} = false"
     class="rounded-full w-5 h-5 border border-orange-500 bg-orange-400 uppercase text-center text-white font-bold shadow">
    <div x-show="tooltip_{{ id }}"
         class="text-sm text-white absolute bg-orange-400 rounded-full p-2 transform -translate-y-3 translate-x-8 shadow-md" >
        Partial Outage
    </div>
</div>