<div x-tooltip.raw="{% trans %}Performance Issues{% endtrans %}" x-tooltip.on.mouseenter
     class="rounded-full w-5 h-5 bg-blue-400 dark:bg-blue-500 border border-blue-500 dark:border-blue-600 uppercase text-center text-white font-bold shadow">
</div>