<div x-tooltip.raw="{% trans %}Performance Issues{% endtrans %}" x-tooltip.on.mouseenter
     class="rounded-full w-5 h-5 border border-blue-500 bg-blue-400 uppercase text-center text-white font-bold shadow">
</div>