<div x-tooltip.raw="{% trans %}Unknown{% endtrans %}" x-tooltip.on.mouseenter
     class="rounded-full w-5 h-5 border border-gray-500 bg-gray-400 uppercase text-center text-white font-bold shadow">
</div>